.top-social-bar {
  background-color: #E8F4FD;
  height: 70px;
  display: flex;
  align-items: center;
}

.top-social-inner {
  height:45px;
  max-height:45px;
  max-width: 2000px;
  width: 100%;
  margin: auto;
  padding: 0 60px;
  display: flex;
  justify-content:center;
  gap: 20px;
}

.top-social-inner i {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}







/* Hover effect just for scaling */
.top-social-inner i:hover {
  transform: scale(1.2);
}
